.main-class {
  display: flex;
  background-color: black;
  height: 100%;
}

.section1 {
  flex: 1;
  background-color: whitesmoke;
}

.section2 {
  flex: 3;
  background-color: brown;
}

.grid-class {
  text-align: center;
  width: 35%;
}